/JavaApplication2/nbproject/private/
/Calculadora/nbproject/private/
/mediaAluno/nbproject/private/
/mediaAluno/build/
/imc/nbproject/private/
/imc/build/
/apostasMinadas/nbproject/private/
/apostasMinadas/build/
